.intro-text {
    position: static;
    min-height: 100vh;
}

.scrolldown{
    border-radius: 150px !important;
    color: #c6c6c6 !important;
    outline-color: #c6c6c6;
    background-color: transparent !important;
    height: 6vh;
    align-self: center;
    margin-left: 48%;
    margin-right: 48%;
    display: inline;
    font-size: 18px !important;
}

blockquote {
    position: relative;
    padding-left:50px;
    font-size: 3.5vw;
    font-weight: 500;
    color:rgb(133, 133, 133);
    quotes: "\201C" "\201D" "\2018" "\2019";

    &::before,
    &::after {
      color: #c6c6c6;
      font-size: 2.0em;
      font-weight: 400;
      line-height: 0.1em;
    }
    &::before {
          position: static;
          left:0;
      content: open-quote;
      margin-right: 0.15em;
      vertical-align: -0.15em;
    }
    &::after {
      content: close-quote;
      vertical-align: -0.7em;
    }
}