h1 {
    padding: 1vh;
    font-family: 'Jaapokki';
    font-size: 6rem !important;
}


.info-page {
    font-family: 'Cascadia';
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: #282c34;
    color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    position: absolute;
    display: block !important;
}
