.notFoundTitle {
    text-align: center;
    font-size: 1.1rem;
    color: white;
    background-color: #282c34;
    padding: 10px;
    font-style: italic;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }