$buttoncolor: #198754;

.postlist-group{
    :hover {
        background-color: #d2d2d2;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;

    }
    strong {
        font-size: 1.2rem;
        padding-bottom: 3rem;
    }
    display: flexbox;
    margin-right: 20%;

    p {
        padding: 1rem;
    }
}

li.list-group-item {
    padding: 0;
    margin: 1vh;
}

.lg-item {
    margin: 0.9vh;
    word-wrap: break-word;
    word-break: normal  ;
}

.categoy-dropdown {
    width: 80%;
    margin-right: .3%;
    display: inline;
  &:focus {
    border: 1px solid #00a6f3;
  }
}

.lg-item p:hover{
    pointer-events: none;
}

#post-list-btn{
    margin-right: 4vw;
    margin-bottom: 1vh;
    float: right;
}

#post-list-btn:hover{
    background-color: #157347;
    border-color: #146c43;
}

#edit-list-btn:hover{
    background-color: #157347;
    border-color: #146c43;
}

#delete-list-btn:hover{
    background-color: #bb2d3b;
    border-color: #821d28;
}

.search-input {
    max-width: 80%;
    margin-bottom: 0.41%;
}

.price-input {
    display: block;
    max-width: 39.8%;
    margin-right: .3%;
    display: inline;
  &:focus {
    border: 1px solid #00a6f3;
  }
}