.profile-list {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.4vh;
    background-color: #282c34;
}

.profile {
    word-wrap: break-word;
    word-break: normal;
}
