h1 {
    padding: 1vh;
    font-family: 'Jaapokki';
    font-size: 6rem !important;
}

.intro-text {
    position: static;
    min-height: 100vh;
}

.register-page {
    font-family: 'Cascadia';
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: #282c34;
    color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    position: absolute;
    display: block !important;
}

.btn-list {
    justify-content: space-between;
    margin: 0.4vh;
    background-color: #282c34;
    position: static;
    margin-top: 1vh;
}

.list-btn {
    margin: 2%;
}