.intro-text {
    position: static;
    min-height: 100vh;
}

.btn-list {
    justify-content: space-between;
    margin: 0.4vh;
    background-color: #282c34;
    position: static;
    margin-top: 1vh;
}