
.servers-page {
    font-family: 'Cascadia';
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: #282c34;
    color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    position: absolute;
    display: block !important;
}

#server-list-btn {
    margin-right: 0ch !important;
    margin-left: 70% !important;
    //position: relative;
}

.back-btn {
    margin: 2%;
}