@font-face {
  font-family: 'Jaapokki';
  src: url("/public/fonts/jaapokkienchance-regular.ttf") format("truetype"),
       url("/public/fonts/jaapokkienchance-regular.woff") format("woff"),
       url("/public/fonts/jaapokkienchance-regular.svg") format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia';
  src: url("../public/fonts/CascadiaCode-SemiLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Jaapokki' !important;
  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
