@font-face {
  font-family: 'Jaapokki';
  src: url("/public/fonts/jaapokkienchance-regular.ttf") format("truetype"),
       url("/public/fonts/jaapokkienchance-regular.woff") format("woff"),
       url("/public/fonts/jaapokkienchance-regular.svg") format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia';
  src: url("../public/fonts/CascadiaCode-SemiLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

h1 {
  padding: 1vh;
  font-family: 'Jaapokki';
  font-size: 6rem !important;
}

h2 {
  padding: 0.5vh;
  font-family: 'Jaapokki';
  font-size: 3rem !important;
}

body {
  margin: 0;
  font-family: 'Jaapokki', 'Cascadia', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@media(max-width: 600px) {
  h1 {
    font-size: calc(2.375rem + 1.5vw) !important;
  }

  .main-page{
    padding: 1rem !important;
  }
}

.main-page {
  font-family: 'Cascadia';
  align-items: center;
  flex-direction: column;
  align-content: center;
  background-color: #282c34;
  color: white;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 5rem;
  position: absolute;
}


.back-btn, .list-btn {
  margin: 2%;
}